[2020-01-20 15:56] adamlaz opened #1 "Instructions for iMessage / Generic format"
super cool tool! Can you help me understand format/sytax of an export file that can be ingested? Would love to run some of my iMessage conversations through this.

[2020-01-20 16:16] filipedematos opened #2 "Extra conversation participants"
Hi Bryce! Congratulations on your tool, it really looks awesome! It was shared in r/dataisbeutiful

Tried it myself but got this instead:

<img width="1440" alt="Screenshot 2020-01-20 at 16 13 20" src="https://user-images.githubusercontent.com/60107261/72741561-cfc73800-3b9f-11ea-8534-a0b5d0330e59.png">

The file is from a whatsapp backup, not english though, portuguese.

Thank you in advance!

[2020-01-20 16:51] illbekeen opened #3 "Issue visualizing the data"
Hi Bryce,
I come from you post on Reddit too, it seems to have troubles analyzing/visualizing the data.
Maybe the code doesn't support dd/mm/yy dates?
My format is, in fact
dd/mm/yy, hh:mm - Name: Text
This is what i get:
![Screenshot_2020-01-20 Visioning Messages](https://user-images.githubusercontent.com/55412035/72744092-356df100-3bad-11ea-8608-e530eba49708.png)

[2020-01-20 16:58] samsamduvent commented on #2
Hello, i come from reddit as well and have the same problem. followed the instruction and it didn't work. Whatsapp in english.
Tried it locally and on the web in chrome and safari.

[2020-01-20 17:30] zaynesember opened #4 "Unable to read CSV from Signal backup"
Followed your instructions for Windows and upon feeding it the CSV I got this error dialog (running locally not on your site):
![image](https://user-images.githubusercontent.com/25585887/72746645-9a5f2200-3b80-11ea-9d3e-a7edccb9b992.png)

[2020-01-20 17:58] LuanCiribelli commented on #3
I'm having the same issue, i tought it was because I'm using portuguese data and it makes sense that It could be an date format issue

[2020-01-20 18:04] KirkBuah commented on #3
Same issue here, i've tried with different files but i have the same problem with all of them.

[2020-01-20 18:37] jparklev commented on #1
+1

[2020-01-20 18:45] BryceStevenWilley commented on #4
Weird, it should only reading the file extension to  throw that error window.  Are you uploading the CSV itself, or are you uploading the signal backup file?

[2020-01-20 18:47] BryceStevenWilley commented on #1
iMessage is a great idea, I can take a look at how you can get your data from the app. Unfortunately, I don't have an iPhone, so I won't be able to easily test how well it works.  :/

[2020-01-20 18:51] BryceStevenWilley commented on #2
So, when you say WhatsApp backup, do you mean the full WhatsApp backup file of all conversations?  I only had time to handle 2 people conversations, and it looks like you uploaded a file with a lot of different people in it.

[2020-01-20 18:54] BryceStevenWilley commented on #3
This is absolutely correct: I only handle mm/dd/yyyy.  Definitely should have expected some international audience when I posted it to Reddit.  😅

I'll take a look at handling this, likely it'll have to take user input on what the date format is to resolve ambiguities like 1/2 being January 2nd or February 1st.

[2020-01-20 18:55] biejay opened #5 "Not showing Whatsapp Data"
Hey, thanks for your work!
Saw your example on Reddit which looked awesome. Unfortunately its **not working** when i upload a **.txt from whatsapp**.
Maybe due to

1. **language format** (it's german and we got **Umlaute** :D) and

2.  **time format** (here it is dd/mm/YYYY)?

My format is actually the same like in

 but still my visualization looks worse.

Would be **awesome if you** could **upda

[2020-01-20 18:59] BryceStevenWilley commented on #5
Thanks for the issue, I'll take a look into this this week. The first thing that would help a lot is if you could post the console log.  If you're in Chrome, should press F12 and go to the console tab.

[2020-01-20 19:00] zaynesember commented on #4
I'm uploading the CSV made from the tool you recommend on your site, maybe it's some sort of issue with the CSV encoding?

[2020-01-20 19:01] MilanFox commented on #5
Can confirm the bug. Same language and time format.

Console outputs:

    Uncaught TypeError: Cannot read property 'concat' of undefined
    at math.js:32
    at Array.reduce (<anonymous>)
    at split_b_k_whatsapp (math.js:26)
    at FileReader.<anonymous> (graphs.js:481)

[2020-01-20 19:12] jparklev commented on #1
sweet, I know iMessages are natively stored in a SQL database `chat.db` file. I'd imagine there's a bit of sql you could to run on it to generate a csv that looks the same as what whatsapp gives you. I've played around with it before and can give it a quick go if you don't mind?

[2020-01-20 19:14] BryceStevenWilley commented on #4
Likely is, yeah. I'm currently just getting the type from JS's FileReader (https://developer.mozilla.org/en-US/docs/Web/API/Blob/type).  I'll come up with a better check, might ask you to try to upload again to get some better debugging info.

[2020-01-20 19:15] samsamduvent commented on #2
Just 1-1 conversion. I exported the chat, unzipped the file and uploaded it

[2020-01-20 19:17] BryceStevenWilley commented on #1
That'd be awesome! The parsing code for Signal is [here](https://github.com/BryceStevenWilley/visioning_texts/blob/582b24cdcaf87273b83b1a7546c782e8694382cc/src/math.js#L1), and for WhatsApp is [here](https://github.com/BryceStevenWilley/visioning_texts/blob/582b24cdcaf87273b83b1a7546c782e8694382cc/src/math.js#L23), the webpage just needs something in that same format.  Also, feel free to ask me an

[2020-01-20 19:21] zaynesember commented on #4
Alright cool, just lmk.

[2020-01-20 19:25] biejay commented on #5
Yes, got slightly the same output like @MilanFox :

    Uncaught TypeError: Cannot read property 'concat' of undefined
    at math.js:32
    at Array.reduce (<anonymous>)
    at split_b_k_whatsapp (math.js:26)
    at FileReader.<anonymous> (graphs.js:481)

[2020-01-20 19:30] ykilm opened #6 "Extra Participants pt 2"
I downloaded my WhatsApp export and emailed it to myself. I then downloaded the zip from the email and unzipped it. Then selected that unzipped txt file as the one to use on the site.  Heres what showed up:
![Captyftfgyhcrture](https://user-images.githubusercontent.com/57972270/72752851-29b40780-3b78-11ea-930d-29e06e1c971a.JPG)
Any advice?

[2020-01-20 19:32] ykilm commented on #6
Also heres the console log:
[code]

[2020-01-20 21:54] zabaio commented on #3
So, I swapped day and month in my file to see if it would work, and it's almost there.
As you can see it works great except for "word use difference" and "words/characters per text". I also would suggest to use mm/yy below the main graph since if the chat is old enough months names start overlapping.
One last thing, while I was looking at the txt i noticed that, at least in my case, forwarded mess

[2020-01-20 21:55] leenut opened #7 "Doesn't work for telegram exported html chats -> txt files"
Parsed html to txt file and ran the final txt file through your program but didn't produce anything.
Was it made specifically to recognise whatsapp txt files only?

<img width="568" alt="Screenshot 2020-01-20 at 1 48 13 PM" src="https://user-images.githubusercontent.com/46833693/72759805-a2708f00-3b8b-11ea-9e67-14732bcaf5b0.png">

[2020-01-20 22:05] Zleox commented on #4
When uploading a CSV file from Windows, the MIME type is set as 'application/vnd.ms-excel'. The app is only expecting 'text/plain' or 'text/csv'.

[2020-01-20 22:28] zaynesember commented on #4
So I tried to get around this by copying the text of the csv on my Windows machine and then making the actual CSV on Linux but I'm still getting the same error

[2020-01-20 23:12] BryceStevenWilley commented on #4
@Zleox that's a great insight, thanks for that info. I had no clue that MIME types would differ from OS to OS. And unfortunate, @zaynesember.  I'll ping you when I have the new debug output in.

[2020-01-20 23:15] maartenwiegers commented on #3
For those with a similar date formatting issue (my Whatsapp export has dd/MM/yyyy, hh:mm), I've replaced the original line 42-43 in math.js with

[code]

Then it works completely for me :)

[2020-01-20 23:34] maartenwiegers opened #8 "Whisker plots too narrow with high outlier"
The whisker plot seems to be too narrow when the high outlier is way higher than Q1-median-Q4:

![image](https://user-images.githubusercontent.com/60118494/72763456-29515600-3be4-11ea-87c0-286194da6e0e.png)
Considering that 2 other graphs are significantly wider, the solution might already be in making them wider?

[2020-01-20 23:43] neberding opened #9 "Won't work"
I import my Whatsapp data from an email to myself from my phone to my computer then upload the file where you have the button and then click to see the results but everything comes up blank

[2020-01-20 23:44] mfmarlow commented on #8
I had the same issue

[2020-01-20 23:44] nmatni commented on #5
I changed from dd/mm/YYY to mm/dd/YYYY and still have similar error
Uncaught TypeError: Cannot read property 'texts' of undefined
    at math.js:100
    at Array.reduce (<anonymous>)
    at xy_time_of_day (math.js:99)
    at graphs.js:485

[2020-01-20 23:51] mfmarlow opened #10 "Add word cloud / add more simple words to filter"
- I think another cool visualization you could add here is a word cloud for each person.

- Add more "simple" words to the filter. I noticed a lot of simple words in the "Word Use Difference" section. Mostly contractions (isn't, aren't, he's, she's, it's,...)

[2020-01-21 01:08] Vidhin05 commented on #2
@BryceStevenWilley This is a typical line in my whatsapp file,
[21/12/18, 22:17:43] NAME: ‎TEXT
What does your's look like?

[2020-01-21 01:09] oisinq opened #11 "Support for Facebook Messenger"
Similar to #1, but I thought I'd make a request for Messenger individually because it's not exactly part of the original issue. Facebook let's you export your entire message history

I think I'd be happy to help out with this myself in the future when I've actually got some spare time

[2020-01-21 01:10] Vidhin05 commented on #2
This issue seems connected to [https://github.com/BryceStevenWilley/visioning_texts/issues/6](url)

[2020-01-21 01:24] Vidhin05 commented on #5
I changed from dd/mm/YYY to mm/dd/YYYY and I'm getting
[code]

[2020-01-21 01:26] ben9583 commented on #1
If you have a Macbook, there is a file ~/Library/Messages/chat.db that has the entire chat history stored on the computer of all conversations, but mine is over 150 MB and looks like it would be difficult to parse. Likewise, there is an Archives folder with all recorded conversations, but it is sorted by date, not recipient, and is fragmented.

You can also export conversations as a PDF, but they

[2020-01-21 01:27] Vidhin05 commented on #3
If if your line looks like [DD/MM/YY, HH:mm:ss] Name: ‎TEXT
Change 37 and 38 in math.js to
[code]
I changed from dd/mm/YYY to mm/dd/YYYY too using @maartenwiegers and I'm getting
[code]

[2020-01-21 01:51] jchan79 opened #12 "Importing a chat from LINE Messaging"
I'm assuming LINE doesn't play nicely with what you made xD
![Text Visualization](https://user-images.githubusercontent.com/60121432/72768814-a4a40f00-3bc6-11ea-98ff-5423bf4a7fbe.PNG)

[2020-01-21 01:53] jchan79 commented on #12
The format is:
Day, MM/DD/YYYY
12:00 AM     [username]     [message]
12:01 AM     [username]     [message]

Next Day, MM/DD/YYYY
08:00 AM     [username]     [message]
etc.

[2020-01-21 03:44] IMG20191023 commented on #3
Using some trickery for testing i changed my phone location to USA and did the whatsapp export again and it fixed up the date.
What i found was importing <20k lines worked fine, but any data above that amount it started to cause issues like @illbekeen above.
The chat file i would like to eventually put through this amazing little script is 60k lines.

[2020-01-21 04:02] BryceStevenWilley commented on #1
@ben9583 so since everything is local, it shouldn't take a crazy long time to open a 150 MB file in the browser, and then filtering for conversation participants would be a breeze. I agree that that's the best option. Thanks for the analysis

[2020-01-21 04:05] BryceStevenWilley commented on #10
I'm honestly not a huge fan of word clouds, just IMO.  I tried to get the same idea conveyed with the word difference chart, but losing frequency makes it a lot more difficult to grasp I think.  There's probably some way to do it better, I'll think about it.

And certainly, I should add some more simple words. I wanted to keep it a "simple" list, but there's probably some industry standard of fill

[2020-01-21 04:07] BryceStevenWilley commented on #2
That's likely the issue: my WhatsApp file looks like:
5/21/19, 15:39 - NAME: TEXT

No braces or anything. Thanks for the help @Vidhin05

[2020-01-21 05:18] BryceStevenWilley commented on #2
I just pushed some changes that should handle `[` WhatsApp output. @Vidhin05, @filipedematos, @samsamduvent, let me know if it fixed anything for you.  If it didn't, could you look into the console log and post any errors?

[2020-01-21 05:19] BryceStevenWilley commented on #4
@zaynesember I pushed the fix that Zleox mentioned, and also should provide the type of file that the browser is reading your data as.  Let me know what it is when you get a chance.

[2020-01-21 05:36] BryceStevenWilley commented on #7
Unfortunately, yes. It only supports WhatsApp. I'm looking into adding more app support, and I'll consider Telegram.

[2020-01-21 05:38] BryceStevenWilley commented on #6
I think this is related to #2, which I believe I made some progress on. @ykilm, try again, please let me know if anything is better!

[2020-01-21 05:39] BryceStevenWilley commented on #5
@biejay, I'd try again, I made some progress on `dd/mm/yyyy` formats in #2, and I don't think that language differences will be an issue, as the strings being passed around already support emojis, so they're at least Unicode and not ASCII.

[2020-01-21 05:42] ykilm commented on #6
I tried it again and now there's no weird circle of characters but now there's nothing.

[code]

[2020-01-21 05:47] BryceStevenWilley commented on #8
Just pushed a commit that might help. It's hard to scale this one relative to the other graphs, as it could just be as big as necessary, but necessary meaning "make sure the user can read the full whisker plot" is pretty difficult to calculate on the fly. Let me know if it works better, if not I can try something more fancy.

[2020-01-21 05:49] BryceStevenWilley commented on #9
I need a little more info to help here.
* Is there anything in the console log (F12, console tab)?
* What's a typical line of the text file look like?

This also might be a duplicate of #2 and #5, which I just made some progress on. Let me know if I was able to fix it!

[2020-01-21 05:54] GoodBlokeAri opened #13 "Skype Support"
Adding support for skype chats which can be exported. https://secure.skype.com/en/data-export

[2020-01-21 06:04] BryceStevenWilley commented on #13
Thanks for the suggestion, I'll keep it in mind!

[2020-01-21 06:05] BryceStevenWilley commented on #12
Unfortunately, it doesn't, you're right. That's a good summary of the format though, I'll try to get to implementing something like that soon.  Thanks!

[2020-01-21 06:14] TheCesarMillan opened #14 "Whatsapp chat error"
Hi, when I upload my WhatsApp chat it shows me this error
![FE7652E4-D79A-462B-852F-23B455CF38A2](https://user-images.githubusercontent.com/43052071/72779892-ea6ed080-3be2-11ea-9d49-d8a3157bc498.png)

[2020-01-21 06:17] BryceStevenWilley commented on #11
I wouldn't mind doing this, I did find https://ericezam.github.io/MessengerDataAnalysis/ in the reddit comments though. I haven't tried it, but it honestly fills most of the same features (offline/local, your data, open source).  I wouldn't refuse a PR implementing though! ;)  Feel free to ask any question about code structure, I wasn't expected that much attention this quickly, it's not well docu

[2020-01-21 06:19] htkcodes commented on #3
[code]
My fix for iphone exports for whatsapp.

Replace full_data function on line 36. to fix for IPHONES!

[2020-01-21 06:20] BryceStevenWilley commented on #14
Strange, I thought I had just fixed those issues in #2.  Can you give me a bit of information:
* what's in your console log (I don't there's a good way to get it on mobile, you'd have to be on a desktop)?
* what's a typical line of your WhatsApp text file look like?

[2020-01-21 06:22] htkcodes commented on #14
Hey bryce.

Solved the issue for iphone whatsapp exports.

[code]

[2020-01-21 06:23] BryceStevenWilley commented on #3
@htkcodes can you take a look at things post https://github.com/BryceStevenWilley/visioning_texts/commit/d074635050e819f6be70d1fb0a465b52328d7864 and let me know if it works without your change?

[2020-01-21 06:24] bumberboy commented on #14
sample format from my side
`[29/11/18, 1:18:44 AM] Beetroot: hi`

[2020-01-21 06:27] htkcodes commented on #14
yea if you replace the function with mine. it should work, had the same issue

[2020-01-21 06:28] bumberboy commented on #14
not with his latest code. he redid the regex searching part

[2020-01-21 06:30] BryceStevenWilley commented on #14
Yeah, unfortunately @bumberboy's right, both htkcodes and I were working on this at the same time, give me a short bit to try to update the regex once again for AM/PM.

[2020-01-21 06:34] htkcodes commented on #3
@BryceStevenWilley I get ambiguity.

Format would be  : [7/20/19, 12:33:05 PM] htkcodes: lorem

[2020-01-21 06:37] htkcodes commented on #3
@BryceStevenWilley Got "The input file has an ambigious date format. TODO(brycew): fix"

[2020-01-21 06:41] ellieboydarttt opened #15 "Signal CSV to upload"
Hello there,

I found you post of r/dataisbeautiful and I have been trying all night to upload the text conversation with my boyfriend and I to your code. It seems very interesting. Thank you for going through the time to build the program. Although I am running into a problem when I try to upload a csv file to the site. When I download the windows_amd64 it automatically wants to format the signal

[2020-01-21 06:43] ykilm commented on #6
Wait no now its back

[2020-01-21 06:47] BryceStevenWilley commented on #15
Hey Ellie,

What's error say when the upload fails?  I added a bit that says what file type it is when the upload fails.
What ever's in the console log (F12 in chrome, go to the "console" tab) would also help!

[2020-01-21 06:48] slevin1991 commented on #2
Same problem as OP but now it's blank when I run my file.

Typical line: 5/21/19, 15:39 - NAME: TEXT

Console info:
math.js:68 Uncaught TypeError: Cannot read property 'concat' of undefined
    at math.js:68
    at Array.reduce (<anonymous>)
    at split_b_k_whatsapp (math.js:62)
    at FileReader.<anonymous> (graphs.js:488)

[2020-01-21 06:49] BryceStevenWilley commented on #14
@bumerboy, htkcodes, try again, I think I've fixed most of these locale issues.

[2020-01-21 06:50] bumberboy commented on #14
worked! real fun project. Thanks and cheers!

[2020-01-21 06:56] bumberboy commented on #14
<img width="1295" alt="Screenshot 2020-01-21 at 2 55 05 PM" src="https://user-images.githubusercontent.com/24787395/72782167-14190d80-3c5e-11ea-84a8-c2af40869aea.png">
date parsing probably failed when the day or month is a single digit

[2020-01-21 06:57] BryceStevenWilley commented on #2
Thanks @slevin1991, I made a dumb mistake and broke some other fixes.  Sholud be fixed by https://github.com/BryceStevenWilley/visioning_texts/commit/73734339bbcac6fb90653d064983c26c2f519a75.

[2020-01-21 06:57] BryceStevenWilley commented on #14
Yep, I think I just fixed that in https://github.com/BryceStevenWilley/visioning_texts/commit/73734339bbcac6fb90653d064983c26c2f519a75 :sweat_smile: Thanks for being patient @bumberboy

[2020-01-21 07:00] BryceStevenWilley opened #16 "Find a better solution for date parsing"
Locales are a mess, and the cause of 99% of the WhatsApp issues at the moment. There's now like 50 lines of mess in math.js because of it, and it's still pretty broken. Need a better way to parse things, locale independently.

[2020-01-21 07:00] bumberboy commented on #14
your brace regex misses single digit days and months
[code]

Try this ☺️:
[code]

[2020-01-21 07:08] Vidhin05 commented on #3
@BryceStevenWilley https://github.com/BryceStevenWilley/visioning_texts/commit/799f6e84709af7696ff22de0c3b60574a5272c95 Works like a charm, thank you for such a quick fix!

[2020-01-21 07:12] Vidhin05 commented on #2
@BryceStevenWilley https://github.com/BryceStevenWilley/visioning_texts/commit/799f6e84709af7696ff22de0c3b60574a5272c95 Fixed everything for me! Thank you

[2020-01-21 07:15] HexaCubist commented on #11
See PR #17 for a semi-tested implementation of this.

[2020-01-21 07:17] slevin1991 commented on #2
EDIT: It's because my .txt file is too big. It's at 30mb, just had to wait for it to run.

It still shows up as blank for me :(

Uncaught TypeError: Cannot read property 'concat' of undefined
    at math.js:109
    at Array.reduce (<anonymous>)
    at split_b_k_whatsapp (math.js:103)
    at FileReader.<anonymous> (graphs.js:488)

[2020-01-21 07:24] ellieboydarttt commented on #15
Also when I press f12 and go to the console tab it appears to be empty.

On Tue, Jan 21, 2020, 1:47 AM Bryce Willey <notifications@github.com> wrote:

[2020-01-21 07:28] ellieboydarttt commented on #15
Hi Bryce,

Thanks for responding. The error says "Can't read this type of file () at
the moment.Please try a Signal csv, or a WhatsApp text file" .

and the Console tab when I press f12 is empty.
Ellie

On Tue, Jan 21, 2020 at 1:47 AM Bryce Willey <notifications@github.com>
wrote:

[2020-01-21 07:33] BryceStevenWilley commented on #14
https://github.com/BryceStevenWilley/visioning_texts/commit/39671950d32c585a4f14d13c7c340ef4abdc14f9 adds that new regex. Thanks a ton for the help!

[2020-01-21 07:35] BryceStevenWilley commented on #15
Strange, in that case it doesn't seem to be finding a file type at all. The file you are uploading does have an extension, right?

[2020-01-21 07:38] ellieboydarttt commented on #15
Yup it's a .csv file although it doesn't seem to have an data in it. The
converter for GitHub has no problem converting the messages into an xml
program but I can't seem to find any command for Windows to convert the
messages to csv. I'll keep testing to see if i can figure it out.

On Tue, Jan 21, 2020, 2:35 AM Bryce Willey <notifications@github.com> wrote:

[2020-01-21 10:00] biejay commented on #3
Works great, thanks @BryceStevenWilley!
(FYI: Confirm for german layout)

[2020-01-21 10:17] Tuteav opened #18 "Uncaught RangeError: Maximum call stack size exceeded"
Im getting the folowing error when trying to get my data from my 3 years old conversation with my GF:

The chat has over 160000 messages so that might be a problem. Tried the program on a 10k messages chat with the same properties (Emoji on the contact name, same datee and time format, etc) and it worked

[2020-01-21 10:25] biejay opened #19 "Detected wrong "participants""
Using **german layout on android** gives me:

`WARNING: only 2 participants are supported at the moment, we parsed multiple:
math.js:130
(3) ["Tim", "Tom", "Nachrichten"]
0: "Tim"
1: "Tom"
2: "Nachrichten"
length: 3
__proto__: Array(0)`

My **format** looks like this (maybe this helps):
![Unbenannt](https://user-images.githubusercontent.com/8942784/72797049-b32f0c80-3c40-11ea-8be4-3453d45d84e3.JPG

[2020-01-21 10:28] biejay opened #20 "Too many messages?"
Got another bug. When i upload a **huge file** (almost 14mb) i got this error:

`Uncaught RangeError: Maximum call stack size exceeded
    at set_graph_0_whisk (file:///C:/Users/BieJay/Downloads/visioning_texts-master%20(1)/visioning_texts-master/src/graphs.js:73:20)
    at set_graph_0 (file:///C:/Users/BieJay/Downloads/visioning_texts-master%20(1)/visioning_texts-master/src/graphs.js:149:5)
    a

[2020-01-21 10:35] biejay commented on #20
Guess its a duplicate to just opened: #18 (Uncaught RangeError: Maximum call stack size exceeded)

[2020-01-21 10:35] #20 closed

[2020-01-21 14:06] BryceStevenWilley commented on #15
I'll also take a look at the process for Windows this evening, and let you know if I come across any similar problems.

[2020-01-21 14:08] BryceStevenWilley commented on #18
That's interesting. I guess JS just straight up puts the whole array on the stack. I'll try to fix that this week, will ping here when I think it's fixed. Thanks for the report!

[2020-01-21 14:17] TheCesarMillan commented on #14
hi, an example line is like this: [05/01/20 14:28:41] Lilian: ‎Los mensajes y llamadas en este chat ahora están protegidos con cifrado de extremo a extremo.

I think the problem may be solved at parsing, the date and time are not separated by a coma, instead they are separate by a blank space, if you add the coma manually it solves the issue however I think it may still have an issue in "Word Use

[2020-01-21 14:24] LuanCiribelli commented on #3
@BryceStevenWilley

![image](https://user-images.githubusercontent.com/44177584/72812527-6e0ada80-3c40-11ea-8b9d-9182b16e4bf7.png)

I thought it was because the txt are to big, but even when I use one with less than 2 mega it just does this

[2020-01-21 15:52] samsamduvent commented on #2
@BryceStevenWilley just tested the newest version and got this from the console:

Btw a sample line of the chat file: [9/20/19, 09:31:09]

`math.js:109 Uncaught TypeError: Cannot read property 'concat' of undefined
    at math.js:109
    at Array.reduce (<anonymous>)
    at split_b_k_whatsapp (math.js:103)
    at FileReader.<anonymous> (graphs.js:488)`

[2020-01-21 16:37] DrNicky opened #22 "Emojis and Word Counts"
I have imported a 3 year WhatsApp convo into your visioning. But as the difference in word counts per message and the usage of Emojis differs to much it doesn't visualize it in any way that I can see it completly. The other thing is that it doesn't show the word usage of the users at all.
Apart from that an awesome tool already

[2020-01-21 17:36] htkcodes commented on #22
Could be the size of the conversation. It will be resolved soon, i presume

[2020-01-21 17:37] htkcodes commented on #18
#23

[2020-01-21 18:15] htkcodes commented on #14
`^\[([\d]{2}|[\d])\/([\d]{2}|[\d])\/([\d]{2})([\s,])(\s*)([\d]{2}|[\d]):(\d{2}):(\d{2})((\s\S+)|(]))\s([\s\w]+:|[\s\S]+:)([\s\S]+)`

[2020-01-21 18:43] adamlaz commented on #1
Here's some inspiration - https://github.com/dsouzarc/iMessageAnalyzer

I'll take a look at this thread later after work - definitely seems like it's pretty straightforward to get iMessage parsed.

[2020-01-21 19:05] lukeeexd opened #24 "[BUG] Everything is broken with whatsapp chat log"
**Describe the bug**
A clear and concise description of what the bug is.

Nothing displays after uploading whatsapp chat log

**Expected behavior**
Everything not to be fucked

**Screenshots**
If applicable, add screenshots to help explain your problem.
https://i.tws.gg/oTBJQJnVg3.png

**Desktop (please complete the following information):**
 - OS: Windows[e.g. iOS]
 - Browser: Chrome [e.g. chrome

[2020-01-21 19:21] greychives opened #25 "Stuck on Message Statistics"
Does not show any more stats
![image](https://user-images.githubusercontent.com/60154357/72835716-25284580-3c83-11ea-8ec4-e64dc3fa90c4.png)

Chrome console gives the following:
![image](https://user-images.githubusercontent.com/60154357/72835768-3a04d900-3c83-11ea-8695-d14c4b8d600a.png)

Are there too many messages for it to handle?

[2020-01-21 19:44] htkcodes commented on #25
Yes, it should be fixed soon, waiting on a merge. see #23

[2020-01-21 19:52] htkcodes commented on #19
I think because its reading per line, make sure each message is in a single line, the exporter might export some messages badly.

[2020-01-21 19:58] dwbnerd opened #26 "[BUG]signal csv not recognised"
**Describe the bug**
I have followed the instructions for windows from your website (amd_64 converter) I got a Backup.csv file that when opened contains data. I attempt to upload it to the website and it says, "Can't read this type of file () at the moment. Please try a Signal csv, or a WhatsApp text file"
![Capture](https://user-images.githubusercontent.com/60155415/72838545-56822080-3c45-11ea-93

[2020-01-21 22:43] biejay commented on #19
@htkcodes Hm would appreciate a fix that handles these extra lines because i got a ton of these in my conversations :D
Maybe by filtering the date format and therefore detect a new message.

[2020-01-21 23:15] BryceStevenWilley commented on #19
So I think this issue happens because WhatsApp will occasionally include a line that goes something like "Message to this chat are now secured with end to end encrpytion".  It looks exactly like normal message line, but won't include a colon between the participant name and the body of the message.  I think it can be solved with some stricter parsing, which I'll try to add tonight

[2020-01-21 23:24] BryceStevenWilley commented on #26
This is a dup of #15.  I'm going to go through the windows process and see what exactly is happening, because it doesn't make a lot of sense that there is no file type.

[2020-01-21 23:26] BryceStevenWilley commented on #24
What's a typical line in your chat log look like?

[2020-01-21 23:28] lukeeexd commented on #24
The contact has an emoji in their name so it comes out all funny in the log. Maybe thats why?

[2020-01-21 23:34] BryceStevenWilley commented on #24
Shouldn't be the case, I've been testing with a contact with an emoji in their name as well.  This is likely a date parsing issue, i.e. the first part of each line isn't what the site expects.  Can you show what that looks like for you?

[2020-01-21 23:38] lukeeexd commented on #24
[31/12/2019, 2:14:40 a.m.]

[2020-01-22 00:20] biejay opened #27 "Smileys not shown correctly[BUG]"
The **smileys** at the end form well so far but i guess when i upload a huge file then they get messed up. I will attach a demo picture at the end.

1. When i **hover above the smileys** and summarize them, then **they dont sum up to the actual count** i got **in my file**. (e.g. shows me about 300 hearts (❤) but i can find ~3000 in the .txt)

2. Also they seem to be **not centered** (imo the most

[2020-01-22 00:35] BryceStevenWilley commented on #24
Ohh, I haven't seen `a.m.` yet, just `AM`. Adding that to the test suite, thanks!

[2020-01-22 00:40] lukeeexd commented on #24
pm is the same `p.m.`

[2020-01-22 00:44] Gusman10000 opened #28 "[BUG] Emoji parsing not working from Facebook json file"
**Describe the bug**
Emoji's don't appear to be imported properly when importing a FB .json Message file, instead appearing as other odd unicode symbols

**To Reproduce**
1. Import a Facebook .json file and view the results. For me nothing more needed to be done

**Expected behavior**
.json file imported completely with all symbols being properly identified

**Screenshots**
I've never sent this od

[2020-01-22 00:44] lukeeexd commented on #24
Just tested it by replacing the a.m. and p.m. with AM and PM and it works. Except this https://i.tws.gg/hDlIAPQArT.png lol

[2020-01-22 01:43] dwbnerd commented on #15
I just tried to upload a random document on windows and it isn't getting the extension on it either for the denial.

[2020-01-22 02:47] BryceStevenWilley commented on #25
@greychives The fix should be in thanks to @htkcodes, try again when you get the chance.

[2020-01-22 02:48] BryceStevenWilley commented on #16
Pretty content with the results in https://github.com/BryceStevenWilley/visioning_texts/commit/1653f5753c090ed3f116648a9cd91b689eec13af for the moment. Closing.

[2020-01-22 02:48] #16 closed

[2020-01-22 02:49] BryceStevenWilley commented on #18
Thanks to htcodes, this has been fixed! @Tuteav, feel free to give this another try!

[2020-01-22 02:50] BryceStevenWilley commented on #24
@lukeeexd, you should be able to have things work without manually changing the data now. The too-large emoji's are still an issue though, being tracked in #27.

[2020-01-22 03:40] BryceStevenWilley commented on #15
Hey @ellieboydarttt, @dwbnerd,  with https://github.com/BryceStevenWilley/visioning_texts/commit/3c620379fc1bdbd9a19f310bf2b3a951328cbf7e I've changed the website to not assume that there will be a type associated with the file given. Give it another shot and let me know if it's working.

[2020-01-22 03:47] BryceStevenWilley commented on #5
@biejay, since you confirmed it's working for you in https://github.com/BryceStevenWilley/visioning_texts/issues/3#issuecomment-576606146, I'm going to close this issue. Everyone else, if you're still running into the issue, follow along at #2!

[2020-01-22 03:47] #5 closed

[2020-01-22 03:48] BryceStevenWilley commented on #6
Hey @ykilm, I've made some progress on this, It was likely something wrong with the date formatting. Can you check if it's working for you again, and if not, could you provide a typical date format from your file?

[2020-01-22 03:50] BryceStevenWilley commented on #11
With #17 merged, this is already in! Open source is amazing.

[2020-01-22 03:50] #11 closed

[2020-01-22 04:01] BryceStevenWilley commented on #14
Thanks for the detailed feedback @TheCesarMillan

That does seem to be the case. Should be solved by https://github.com/BryceStevenWilley/visioning_texts/commit/fbe7cc4be868d9c063b0ea507ee84ce5c40c6515

Yep, there is some logic that gets rid of not-often used words, which for small conversations is all of them.

Feel free to try again, it should be fixed now!

[2020-01-22 04:04] BryceStevenWilley commented on #19
The fix should be in @biejay, let me know if it fixes it for you!

[2020-01-22 04:06] BryceStevenWilley commented on #26
@dwbnerd I added made the uploader a little more forgiving, it should still try to load things without types, as long as the extension is correct. Let me know if it works for you!

[2020-01-22 04:13] BryceStevenWilley commented on #27
Great report! The size of the emojis might be an issue with the grapheme library that I'm using, or the regex that I use to check for emojis in texts.

The largest aren't centered right now because under the hood it's a d3 force-layout with collisions. I might be able to change where the smilies are attracted to, so I'll take a look at that.

As far as the box being too small for all of the emoji'

[2020-01-22 04:16] BryceStevenWilley commented on #22
As htkcodes has mentioned, the size issues should be resolved now. @DrNicky, take another look to see if there are still issues. If there are, could you give some more information about what's going wrong?
* console log (F12, console tab)
* a screen shot if something is wrong visually

[2020-01-22 04:18] BryceStevenWilley commented on #28
Interesting. I'll need a bit of time to get my own FB data to test this with. Thanks for the report and details though, it makes this a lot easier to approach.

[2020-01-22 04:21] BryceStevenWilley commented on #2
@samsamduvent, (also everyone else still having problems in this thread), I've fixed much more of the date parsing issues, and have confirmed it with some tests. Check it out again, and let me know how it goes

[2020-01-22 04:23] BryceStevenWilley commented on #3
Hey all, I think the issues talked about here are mostly fixed. If you're still having problems, check out #2 or #6, or make another issue. Gonna close this one for now.

[2020-01-22 04:23] #3 closed

[2020-01-22 04:30] htkcodes commented on #28
Might be able to take a look at this. Going to try it

[2020-01-22 04:40] ykilm commented on #6
It seems to be mostly working now. The average word/character per text still isn't working tho.
![Imjlhage 2](https://user-images.githubusercontent.com/57972270/72865824-109d7a80-3c8e-11ea-9cfa-f941c3433454.png)

There isn't anything in the console.

[2020-01-22 04:59] BryceStevenWilley commented on #6
I gotcha.  That average word/char bug just the fact that I need a better way to handle extreme outliers, which is being tracked in #8.  Closing this, as it's fixed.

[2020-01-22 04:59] #6 closed

[2020-01-22 05:01] BryceStevenWilley opened #29 "Reconsider color scheme [reddit]"
Feed back was that the color scheme was "atrocious". A bit harsh, but a little true. Will find something better, for this and for https://github.com/BryceStevenWilley/BryceStevenWilley.github.io.

[2020-01-22 05:03] BryceStevenWilley opened #30 "Fix totals labeling [reddit]"
A lot of people were confused, and thought that each bar was the number of messages sent that hour, not over the entire year. Should either average it or make a better axis name.

[2020-01-22 05:08] BryceStevenWilley opened #31 "Clarify word difference plot [reddit]"
Everyone thought that the only words I said were "oof". I think that's likely because even though the words are sorted by count, there's no other indicators about how often each was said. Consider some weighting, maybe transparency, size, or x/y plots again.

[2020-01-22 05:13] dwbnerd commented on #26
That seems to have fixed this thing is really awesome!

[2020-01-22 05:14] #26 closed

[2020-01-22 06:58] samsamduvent commented on #2
@BryceStevenWilley great it works! thanks a lot. Still having #8 though.

[2020-01-22 08:43] maartenwiegers commented on #8
Thanks! On the current version, it looks like this:
![image](https://user-images.githubusercontent.com/60118494/72878098-9d7e1d80-3cfa-11ea-8f50-dcc886b00552.png)
So it does work a little better, but the bottom one is still not quite useful.

[2020-01-22 10:15] Tuteav commented on #18
Yes, It has been fixed ! I have other issues now lol but gonna report them on another issues.

[2020-01-22 10:15] #18 closed

[2020-01-22 13:10] nexo4life opened #32 "WHATSAPP: It doesnt load the visualisation"
so 2 questions
1) I can only upload the chat file,however in your example you had statistics about media files sent. It doesnt let me upload any media files tho so how do I fix this?

2) When I upload my chat file it and press 'show data' litteraly nothing happens, I dont know what to do.

I downloaded the whatsapp data from my iphone ( tried US and EU but they end up being the same file(?)), and

[2020-01-22 13:17] BryceStevenWilley commented on #2
Awesome, thanks! I'll close this issue for now, and will try to make some progress on #8 this week.

[2020-01-22 13:17] #2 closed

[2020-01-22 14:46] biejay commented on #19
Works! Thank you mate @BryceStevenWilley .

[2020-01-22 14:47] #19 closed

[2020-01-22 14:49] biejay commented on #32
`When I upload my chat file it and press 'show data' litteraly nothing happens, I dont know what to do.`

Can you **track** the **CPU Usage** of Chrome or whatever Browser you are using? When you are uploading huge files (several MBs) it takes some time until something happens. My CPU usage increases to ~10-20% for the chrome process when i hit "show data".

[2020-01-22 14:52] BryceStevenWilley commented on #8
Thanks Maarten. I think I have an potential solution to this, will try to add it in the next few days.

[2020-01-22 15:03] nexo4life commented on #32
Okay so now it doest work on Chrome, however, im still unsure how you can add the media files-data in there, it only lets me add the chat file.

[2020-01-22 15:06] BryceStevenWilley commented on #32
Hey @nexo4life, there must be some misunderstanding, the app has never supported media files. Your Whatsapp text export might include that media messages were sent, but the app doesn't track what kind of media, or any image information yet.

[2020-01-22 17:08] TheCesarMillan commented on #14
It works! Thanks :)

[2020-01-22 17:08] #14 closed

[2020-01-22 20:38] greychives commented on #25
Hiya,

Thanks for the speedy response!

Thanks again!

[2020-01-22 20:48] #25 closed

[2020-01-23 00:55] BryceStevenWilley opened #33 "Add the text of outlier messages on mouseover"
Suggestion from /u/benbellmusic on Reddit.

[2020-01-23 04:04] Gusman10000 commented on #28
Did a little reading and found [this](http://ecmanaut.blogspot.com/2006/07/encoding-decoding-utf8-in-javascript.html) method of encoding / decoding utf8 in js.

I'm not really sure of what I'm doing in js, but I tried adding the decode code in the math.js facebook import function in a few spots and had success with having the emoji's showing up by changing:

`'BODY': msg.content`
to
`'BODY': decod

[2020-01-23 04:45] BryceStevenWilley commented on #28
Hey Gusman, I added your fix in https://github.com/BryceStevenWilley/visioning_texts/commit/167962724fe92d24c89ddac8b28eb0048ee96fab, thanks for the help! I'll double check that it works with my FB info, and close this issue when it does.

And at the moment, yeah, common numbers and symbols aren't filtered from the word difference. That's being tracked in #10.

[2020-01-23 05:06] BryceStevenWilley commented on #28
Works for me, I've got some emoji's in the emoji count!

[2020-01-23 05:17] BryceStevenWilley commented on #8
Just pushed another fix, this time it adds a zoomed-in version of just the box, still labeled, and leaves out the label on the top. Let me know what y'all think!

[2020-01-23 11:32] danrhjones commented on #1
Theres also this repo for extracting imessages

https://github.com/aaronpk/iMessage-Export

[2020-01-23 18:00] htkcodes commented on #28
Hi guys, this method doesn't work for all emojis for example.

'\u00f3\u00be\u008c\u00ac\u00f3\u00be\u008c\u00ac\u00f3\u00be\u008c\u00a7'

Hence why i didn't bring it up earlier.

[2020-01-23 18:23] vmokzt opened #34 "[BUG] (whatsapp) visualization doesn't load"
couldn't find a raised issue (open/closed) with the same console ouput that i got, apologies if i just didn't look hard enough!!

**Describe the bug**
Nothing happens after clicking "show data"

**To Reproduce**
1. Steps to reproduce the behavior, mostly what you did to get your messages in a text format.
- exported chat, unzipped folder to access chat .txt file
2. If you are on a desktop browser,

[2020-01-23 18:37] BryceStevenWilley commented on #28
Took me too long to figure out that this is 😘😘😍.  Sorry for closing too soon @htkcodes.

[2020-02-03 21:26] udnkm commented on #34
**Describe the bug**
Nothing happens after clicking "show data"

**To Reproduce**

I exported chat then unzipped folder to access chat .txt file
![image](https://user-images.githubusercontent.com/60626237/73691517-44769800-46b1-11ea-89a3-63b2196e9744.png)

**Expected behavior**
my chat data to appear in a pretty visualization :(

**Screenshots**
![image](https://user-images.githubusercontent.com/6

[2020-02-04 05:03] BryceStevenWilley commented on #34
Hey vmokzt, udnkm,  I'll try to take a look into this.  I thought I had covered these message formats in the test data (generated by `scripts/generate_tests.py`).  I'll double check that's the case some time this week, but I'm not sure what else it could be.

[2020-02-14 01:30] BryceStevenWilley commented on #32
Closing, feel free to reopen if it's chat/text isn't fixed for you.

[2020-02-14 01:30] #32 closed

[2020-02-14 02:06] BryceStevenWilley commented on #34
Hey @vmokzt, @udnkm,  bbf3908f2525e7d8edcd91c96f49c36bf31bcacf, which if it doesn't fix the problem for y'all, should at least give some better errors. Let me know if it works for y'all this time!

[2020-02-14 02:32] BryceStevenWilley commented on #30
Averaging is a little harder than I though, you gotta keep track of every day essentially everywhere. Just gonna change the graph title.

[2020-02-14 02:32] #30 closed

[2020-02-14 13:21] vmokzt commented on #34
![image](https://user-images.githubusercontent.com/37608072/74534931-c4cdb080-4f6f-11ea-9591-3ebfeb276e71.png)

Hey @BryceStevenWilley, here's the new console log :)

[2020-02-17 06:22] towfiqueA opened #35 "Emoji's are cut-off in visualization"
Screenshots below.

The emoji's get cut-off on the sides, bottom, and top. I can manually inspect the page, change the width and height, which resolves the bottom and right side. However, I don't know how I could resolve the cut-offs on the left side and the top. Any suggestions are appreciated.

![image](https://user-images.githubusercontent.com/61135261/74628363-caafc700-5112-11ea-9699-b9d873c73

[2020-02-19 19:04] udnkm commented on #34
@BryceStevenWilley
![image](https://user-images.githubusercontent.com/60626237/74866239-4f782c00-5331-11ea-80be-5bd60af31ad4.png)
new logs here

[2020-03-05 21:53] sukhinsergey opened #36 "[BUG] Word Use Difference - does not load up (russian text) parser from VK"
Hi Bryce!

Thank you for doing such tool. Saw it on reddit and trying to implement.

But my text parsed from VK messenger (from HTML to txt) can be processed by several parts of your program, I.e.
Word Use Difference

But when I try doing the same thing for WhatsApp convo, it works just fine. Format is the same for both texts.

Example of text below:

[25.03.2018, 10:53:08] Вы: экивоки знаешь?)
[2

[2020-03-09 11:37] sukhinsergey commented on #36
Made it work with additional volume per file (almost).
But now it won't load up since the file size (2years worth of conversation) is more than 20 mb.
Did you guys have similar problem and how you solved it?

I run script via web or via MAMP, since crashed...

[2020-03-18 08:02] sukhinsergey commented on #35
Same issue here.

[2020-03-18 08:39] sukhinsergey commented on #36
update.

parsed has been updated, and now the word use gives all the words, w/o any filtering
<img width="1029" alt="Screenshot 2020-03-18 at 11 34 59" src="https://user-images.githubusercontent.com/61851042/76941369-f3db9700-690c-11ea-8cc7-e168c08707f2.png">

is there any option to limit displaying texts? set the minimum words used perhaps?

[2020-04-30 02:11] BryceStevenWilley commented on #15
This should be fixed. Let me know if you're still running into issues!

[2020-04-30 02:11] #15 closed

[2020-04-30 02:12] BryceStevenWilley commented on #24
The `a.m./p.m.` parsing should be okay now. Feel free to reopen if you still have issues.

[2020-04-30 02:12] #24 closed

[2020-04-30 02:14] BryceStevenWilley commented on #22
Gonna close this, feel free to reopen if you're still having issues.

[2020-04-30 02:14] #22 closed

[2020-04-30 02:15] BryceStevenWilley commented on #9
Gonna close this, feel free to reopen with more info.

[2020-04-30 02:15] #9 closed

[2020-04-30 02:16] BryceStevenWilley commented on #4
This should be fixed, gonna close.

[2020-04-30 02:16] #4 closed

[2020-04-30 03:56] BryceStevenWilley commented on #27
Found an issue in the way I was counting the emoji, it should be a bit better now. Sometimes with multiple emoji in row, `grapheme-splitter` still can't parse them correctly:
`Failed emoji:😘 (2) 56856`, which is not the right code for that guy. It's confusing, but at least some of the codes are right now. Will look at this again later.

[2020-04-30 03:57] BryceStevenWilley commented on #35
Sorry, for the lateness, I was using a very poor heuristic for sizing the emoji's, and wasn't actually putting a cap on the max size. Both of those should be fixed with https://github.com/BryceStevenWilley/visioning_texts/commit/253d2ffabdb3872850e40c2c6ffc1178c0f2dcf6, so feel free to give it a try and see if it fixes it for you!

[2020-04-30 04:00] BryceStevenWilley commented on #8
Gonna close this, it should automatically "zoom" into the whisker plot for you now. Feel free to reopen if it's not working/ is wonky.

[2020-04-30 04:00] #8 closed

[2021-03-06 22:31] BryceStevenWilley commented on #36
Hey @sukhinsergey! Sorry for not responding, for a literal year, I think I missed this notification originally.

The minimum word count is https://github.com/BryceStevenWilley/visioning_texts/blob/253d2ffabdb3872850e40c2c6ffc1178c0f2dcf6/src/math.js#L387, currently set to 10. It was definitely chosen based on my own conversations, that were pretty small in hindsight. Raising that should help you.

[2021-05-19 13:06] #35 closed

[2022-02-22 17:51] towfiqueA opened #38 "Locally Downloaded Website Does Not Allow Uploading of a File"
Downloading all the code and running locally doesn't work, whereas using the live website _does_ work.

The specific issue seen with the local website is after clicking on "Choose your Messages File" and selecting a text file, nothing occurs. Whereas, on the live website, it will show the filename with file information, and a button to "Show data".

I've tried this on Windows 7 and Windows 10, usi

[2022-02-22 18:23] BryceStevenWilley commented on #38
Good catch, I think I shouldn't have changed the javascript files to modules in [last commit](https://github.com/BryceStevenWilley/visioning_texts/commit/d1485d284c771d42bc929cf5e06bd9bfeaf0fee6), as [modules don't load from local js files](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules#other_differences_between_modules_and_standard_scripts) for security reasons. I'll try to

[2022-04-12 17:34] #38 closed

[2022-04-12 17:36] BryceStevenWilley commented on #29
I updated the color scheme for the rest of the website, but I don't really want to update this color scheme that much, since this project is kinda in maintaince mode.

[2022-04-12 17:36] BryceStevenWilley commented on #29
I updated the color scheme for the rest of the website, but I don't really want to update this color scheme that much, since this project is kinda in maintenance mode.

[2022-04-12 18:11] #10 closed

[2022-04-12 19:44] BryceStevenWilley commented on #33
Fixed by https://github.com/BryceStevenWilley/visioning_texts/commit/3104c6b0b06ac0cc0fa8f347a8fb8c0c693c7fdf

[2022-04-12 19:44] #33 closed